
/**
 * Wrap
 * Wrapping container for sticky footer
 */
#wrap {
  min-height: 100%;
  padding-bottom: 100px;
  margin-bottom: -60px; // for sticky footer

  &.page-wrap {}

  &:after {
    content: '';
    display: block;
  }
}
  
  /**
   * Main 
   * @class .col-md-9
   */
  #main {

  }

  // #sidebar


/**
 * Sections
 */
section {}

  .section {
    padding: 50px 0;

    &.section--small { padding: 25px 0; }
    &.section--large { padding: 75px 0; }
  }

/**
 * Articles
 */
article {}

  .article {
    
  }