.loading {
  padding: 48px 0;
  text-align: center;

  i {
    
  }
}


/**
 * Form Header
 */
.form-header {
  color: #3a3a3a;
  line-height: 1;
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0 25px 0;
  padding-bottom:12px;
  border-bottom: 1px solid #f1f1f1;

  &.form-header--well {
    background-color: #f9f9f9;
    padding: 12px 10px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
  }
}




/**
 * File Table
 *
 */
.file-table {

  > div { 
    display:inline-block; 
    padding-right: 20px;
  }

}
  .file-table__input {
    height: 100%;
    text-align: left; 
  }
  .file-table__info {
    text-align: left; 
    position: relative;
    height: 100%;
    line-height: 30px;
    color: #777;

    .filename {}
    .percentage {
      padding-left: 10px;
      font-size: 12px;
    }
  }
  .file-table__actions {
    height: 100%;
    text-align:right;
    line-height: 30px;
  }