<template name="inputFileUpload">
  <div class="form-group">
    <label class="control-label input-label label-block">{{label}}</label>

    <div class="file-table">
      <div class="file-table__input">
        <button class="btn btn-default btn-gray btn-file btn-upload-file--s3">
            <span>Browse</span>
            <input class="input-file--s3" value="{{file}}" name="file" type="file">
        </button>
      </div>
      <div class="file-table__info">
        <span class="filename"></span>
        {{#each files}}
          <span class="percentage">{{percent_uploaded}}</span>
        {{/each}}
      </div>
      <div class="file-table__actions"></div>
      
    </div>

    <span class="help-block">An image to use as the logo of the sub.</span>

  </div>
</template>