<template name="layoutSidebar">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  <div id="wrap">
    {{> _header}}
  
    <div class="container">
      <div class="row">

        <div id="main" class="col-md-8">
          {{> yield}}
        </div> 

        <div id="sidebar" class="sidebars col-md-4">
          {{> sidebar }}
        </div>

      </div>
    </div>  
  </div>

  {{> _footer}}

</template>