<template name="formUserProfile">
  

  <form>
  {{#with userData}}

    <div class="form-group">
      <label class="control-label input-label">Username</label>
      <input class="form-control" value="{{username}}" name="username" type="text">
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label class="control-label input-label">First Name</label>
          <input class="form-control" value="{{profile.firstName}}" name="profile.firstName" type="text">
          <span class="help-block"></span>
        </div>
        <div class="col-sm-6">
          <label class="control-label input-label">Last Name</label>
          <input class="form-control" value="{{profile.lastName}}" name="profile.lastName" type="text">
          <span class="help-block"></span>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label input-label label-block">Gender</label>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="profile.gender" autocomplete="off" value="{{profile.gender}}" checked> {{profile.gender}}
        </label>
        <label class="btn btn-default">
          <input type="radio" name="profile.gender" autocomplete="off" value="Male"> Male
        </label>
        <label class="btn btn-default">
          <input type="radio" name="profile.gender" autocomplete="off" value="Female"> Female
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label input-label">Organization</label>
      <input class="form-control" value="{{profile.organization}}" name="profile.organization" type="text">
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <label class="control-label input-label">Website</label>
      <div class="input-group">
        <!-- <span class="input-group-addon">http://</span> -->
        <input type="text" class="form-control" value="{{profile.website}}" name="profile.website">
      </div>
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <label class="control-label input-label">Bio</label>
      <textarea class="form-control" name="profile.bio" rows="5">{{profile.bio}}</textarea>
      <span class="help-block"></span>
    </div>

    {{> formRoles}}
    
    <hr>

    <button type="submit" id="submit--formUserProfile" class="btn btn-success">Save</button>

  {{/with}}
  </form>

</template>


<template name="formRoles">
  {{#if isInRole 'admin'}}
    <div class="form-group">
      <label class="control-label input-label label-block">User Roles</label>
      {{#each currentUserRoles}}
        <button name="role-{{.}}" class="btn btn-default">{{.}}</button>
      {{/each}}
    </div>

  {{/if}}
</template>