<template name="profile">
  <div class="template-profile">
    <div class="page-header">
      <h1>Profile</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        
        {{> formUserProfile }}

      </div>
      <div class="col-sm-6" style="padding-left:30px;">

        {{#with userData}}
          {{> userProfileSummary}}
        {{/with}}

      </div>
    </div>
  
    
    {{#if debugMode}}
      <br><br><br><br><hr>
      <h3>Debugging</h3>
      <!-- <button id="update-user-debug" data-update-val="Male" data-update-key="profile.gender" class="btn btn-primary">Update User Gender</button> -->
      <button id="update-user-debug" class="btn btn-primary">Update User DEBUG</button>
    {{/if}}

  </div>
</template>